.blog-list {
    width: 70vw;
    margin-top: 20px;
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    text-decoration: none;
    color: #000;

    .blog {
        max-width: 350px;
        margin: 10px;
    }

    .img {
        width: 100%;
    }

    .title {
        font-family: arial;
        font-size: 26px;
        text-align: left;
        font-weight: 700;
    }

    .author {
        font-weight: 600;

    }

    .author-img {
        width: 50px;
        border-radius: 50%;
    }

    .author-img:hover {
        border-radius: 20%;
        transition: border-radius 0.2s linear;
    }

    .btm {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
    }
    .btm .btm-right{
        margin-left: 100px;
    }

    .date,
    .pnt,
    .read {
        color: #585858;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}