.main {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 100px;
    padding:100px;
    padding-top:-100px;
    margin-top:80px;
    background-color: #fff;

    .tit {
        font-size: 40px;
    }

    .sub {
        font-size: 28px;
    }

    .img {
        width: 100%;
        height: 300px;
        object-fit: fill;
        margin: 70px 0;
    }

    .des {
        font-size: 24px;
        text-align: justify;
    }

    .author {
        font-weight: 600;
        font-size: 22px;
        ;
    }

    .author-img {
        width: 50px;
        border-radius: 50%;
    }

    .author-img:hover {
        border-radius: 20%;
        transition: border-radius 0.2s linear;
    }

    .btm {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .btm .btm-right {
        margin-left: 10px;
        margin-top: -3px;
    }

    .date,
    .pnt,
    .read {
        color: #585858;
    }

    .link {
        text-decoration: none;
        color: #000000;
    }
}