.about {
    background: linear-gradient(135deg, #2f2f2f, #4c4c4c);
    /* Dark Gray to Light Gray gradient */
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-container {
    max-width: 950px;
    width: 100%;
    text-align: center;
    background: #ffffff;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
}

.about h1 {
    font-size: 3.8rem;
    font-weight: 800;
    background: linear-gradient(45deg, #f0f0f0, #888888);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 3px #000000, 0 0 6px #000000, 0 0 10px #888888;
}

.about-container p {
    font-size: 1.25rem;
    color: #333;
    line-height: 1.8;
    margin: 15px 0;
    font-family: 'Lora', serif;
}

.about-container p strong {
    color: #3b82f6;
    font-weight: 700;
}

.about-container a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 2px 2px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.4s ease;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-container a.social-media {
    font-variant: small-caps;
    text-transform: capitalize;
    background-image: linear-gradient(90deg, #060, #400);
    transition: background-position 0.5s ease;
}

.about-container a.social-media:hover {
    background-position: 100%;
    color: transparent;
    background-image: linear-gradient(90deg, #400, #060);
}

.about-container a.pers-app {
    cursor: pointer;
    background-image: linear-gradient(40deg, #d80, #090);
    transition: background-position 0.5s ease;
}

.about-container a.pers-app:hover {
    background-position: 100%;
    color: transparent;
    background-image: linear-gradient(40deg, #090, #d80);
}

@media (max-width: 768px) {
    .about-container {
        padding: 40px;
    }

    .about-container h1 {
        font-size: 2.8rem;
    }

    .about-container p {
        font-size: 1.15rem;
    }
}